{% load static %}
{% load staticfiles%}
{% block content %}

<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
	<!-- Author Meta -->
	<meta name="author" content="codepixer">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>Book Store BK</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">

	{% block css %}
	<!--CSS
        ============================================= -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		  integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'css/linearicons.css' %}">
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
	<link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
	<link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" href="{% static 'css/chatbox.css' %}">
	{% endblock %}

</head>

<body>
{% load staticfiles %}
<header id="header">
	<nav class="navbar navbar-expand-md">
		<a href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" alt="" title="" style="margin-left: 30px; margin-bottom: 60px;"/></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
				aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarCollapse">
			{% if user.is_authenticated %}
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link dropdown-toggle" href="#" id="userMenu" data-toggle="dropdown">
						<font size=3 color="#ffffff"> {{ user.email }}</font>
					</a>
					<div class="dropdown-menu dropdown-menu-right menu" aria-labelledby="userMenu">
						<a class="dropdown-item" href="{% url 'profile' %}">My profile</a>
						<div class="dropdown-divider" style="margin: 0px;"></div>
						<a class="dropdown-item" href="{% url 'payment-method' %}">Payment method</a>
						<div class="dropdown-divider" style="margin: 0px;"></div>
						<a class="dropdown-item" href="{% url 'account_change_password' %}">Change password</a>
						<div class="dropdown-divider" style="margin: 0px;"></div>
						<a class="dropdown-item" href="{% url 'history' %}">Order history</a>
						<div class="dropdown-divider" style="margin: 0px;"></div>
						<a class="dropdown-item" href="{% url 'account_logout' %}">Sign out</a>
					</div>
				</li>
			</ul>
			{% else %}
			<form class="form-inline ml-auto">
				<a href="{% url 'account_login' %}" class="btn btn-outline-light">Sign in</a>
				<a href="{% url 'account_signup' %}" class="btn btn-primary ml-2 mr-2">Sign up</a>
			</form>
			{% endif %}
		</div>
	</nav>
</header><!-- #header -->

<!-- start banner Area -->
<section class="banner-area" id="home">
	<div class="container">
		<div class="row fullscreen d-flex align-items-center justify-content-start">
			<div class="banner-content col-lg-7">
				<h5 class="text-white text-uppercase">Author: Travor James</h5>
				<h1 class="text-uppercase">
					New Adventure
				</h1>
				<p class="text-white pt-20 pb-20">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp <br> or incididunt ut
					labore et dolore magna aliqua. Ut enim ad minim.</p>
				<div class="star-ratings-sprite"><span style="width:80%" class="star-ratings-sprite-rating"></span></div>
				<a href="#" class="primary-btn text-uppercase">Buy Now for 10 ETH</a>
			</div>
			<div class="col-lg-5 banner-right">
				<img class="img-fluid" src="{% static 'images/header-img.png' %}" alt="">
			</div>
		</div>
	</div>
</section>
<!-- End banner Area -->

<!-- Start about Area -->
<section class="section-gap info-area" id="about">
	<div class="container">
		<div class="single-info row mt-40 align-items-center">
			<div class="col-lg-6 col-md-12 text-center no-padding info-left">
				<div class="info-thumb">
					<img src="{% static 'images/about-img.jpg' %}" class="img-fluid info-img" alt="">
				</div>
			</div>
			<div class="col-lg-6 col-md-12 no-padding info-rigth">
				<div class="info-content">
					<h2 class="pb-30">Dr. Travor James</h2>
					<p>
						inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct
						standards – especially in the workplace. That’s why it’s crucial that, as women.
					</p>
					<br>
					<p>
						inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct
						standards – especially in the workplace. That’s why it’s crucial that, as women. inappropriate
						behavior is often laughed off as “boys will be boys,” women face higher conduct standards –
						especially in the workplace. That’s why it’s crucial that, as women.
					</p>
					<br>
					<img src="{% static 'images/signature.png' %}" alt="">
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End about Area -->

<!-- Start course Area -->
<section class="course-area section-gap" id="course">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content pb-60 col-lg-9">
				<div class="title text-center">
					<h1 class="mb-10">Top Book That are open for Students</h1>
					<p>Who are in extremely love with eco friendly system.</p>
				</div>
			</div>
		</div> 
		<div class="row">
			<div class="active-course-carusel">
				{% for book in books_highly %}
				<div class="single-course item">
					<img class="img-fluid book-image" src="{{book.bookimage.image.url}}">
					<p class="sale-btn">Out of Stocks</p>
					<div class="details">
						<a href="/audit/book/{{book.ISBN}}"><h4>{{book.title}} </h4></a>
						<span
								class="price float-right">{{book.price}} ETH</span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star"></span>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
		<a href="/store/" class="cta">
			<span>See More</span>
			<svg width="13px" height="10px" viewBox="0 0 13 10">
				<path d="M1,5 L11,5"></path>
				<polyline points="8 1 12 5 8 9"></polyline>
			</svg>
		</a>
	</div>
</section>
<!-- End course Area -->
{% comment %} <footer class="footer">
	<div class="content-container">
		<div class="container">
			<div style="color:black" align="center">
				<p> Create by <a target="_blank">BK's team</a>. <img src="{% static 'audit/images/hcmut.png' %}"
																	 style="width: 70px; padding-left: 20px;"></p>
			</div>
			<!-- /.footer__inner -->
		</div>
	</div>
</footer> {% endcomment %}
<!--footer starts from here-->
 
<footer class="footer">
	<div class="container bottom_border">
		<div class="row">
			<div class=" col-sm-4 col-md col-sm-4  col-12 col">
				<h5 class="headin5_amrc col_white_amrc pt2">Our Address</h5>
				<!--headin5_amrc-->
				<ul class="footer_ul_amrc">
				<li><p><i class="fa fa-location-arrow" style ="margin-left:5px;"></i> 268 Lý Thường Kiệt, Phường 14, Quận 10, Hồ Chí Minh </p></li>
				<li><p><i class="fa fa-phone" style ="margin-left:5px;"></i>  028 3864 7256 </p></li>
				<li><p><i class="fa fa fa-envelope" style ="margin-left:5px;"></i> hcmut@gmail.com  </p></li>
				</ul>
			</div>
			<div class=" col-sm-4 col-md  col-6 col">
				<h5 class="headin5_amrc col_white_amrc pt2">Timing</h5>
				<!--headin5_amrc-->
				<ul class="footer_ul_amrc">
					<li><a href="http://webenlance.com">Mon - Fri: 7am - 10pm</a></li>
					<li><a href="http://webenlance.com">​​Saturday: 8am - 10pm</a></li>
					<li><a href="http://webenlance.com">​Sunday: 8am - 11pm</a></li>
				</ul>
				<!--footer_ul_amrc ends here-->
			</div>
			<div class=" col-sm-4 col-md  col-6 col">
				<h5 class="headin5_amrc col_white_amrc pt2">Help</h5>
				<!--headin5_amrc-->
				<ul class="footer_ul_amrc">
					<li><a href="http://webenlance.com">Payment Methods</a></li>
					<li><a href="http://webenlance.com">Shipping Rates & Policies</a></li>
					<li><a href="http://webenlance.com">Returns & Replacements</a></li>
					<li><a href="http://webenlance.com">Privacy Policy</a></li>
					<li><a href="http://webenlance.com">FAQ’s</a></li>
				</ul>
			<!--footer_ul_amrc ends here-->
			</div>
			<div class=" col-sm-4 col-md  col-12 col">
				<h5 class="headin5_amrc col_white_amrc pt2">Delivery Partner</h5>
				<!--headin5_amrc ends here-->
				<ul class="footer_ul2_amrc">
					<li style="display: inline-block"><a href="#"><img src="{% static '/images/logo/loship.png'%}" width="80px" height="40px"/></a></p></li>
					<li style="display: inline-block"><a href="#"><img src="{% static '/images/logo/ghn2.png'%}" width="80px" height="40px"/></a></p></li>
					<li style="display: inline-block"><a href="#"><img src="{% static '/images/logo/Grab-express.png'%}" width="80px" height="40px"/></a></p></li>
				</ul>
				<!--footer_ul2_amrc ends here-->
			</div>
		</div>
	</div>
	<div class="container">
		<ul class="foote_bottom_ul_amrc">
			<li><a href="http://webenlance.com">Home</a></li>
			<li><a href="http://webenlance.com">About</a></li>
			<li><a href="http://webenlance.com">Services</a></li>
			<li><a href="http://webenlance.com">Pricing</a></li>
			<li><a href="http://webenlance.com">Blog</a></li>
			<li><a href="http://webenlance.com">Contact</a></li>
		</ul>
		<!--foote_bottom_ul_amrc ends here-->
		<p class="text-center" style="color: #CCC;">Copyright @2017 | Designed With by <a target="_blank">BK's team</a>. <img src="{% static 'audit/images/hcmut.png' %}"
																	 style="width: 70px; padding-left: 20px;"></p> 

		<ul class="social_footer_ul">
			<li><a href="http://webenlance.com"><i class="fa fa-facebook-f" style="color: #4267B2"></i></a></li>
			<li><a href="http://webenlance.com"><i class="fa fa-twitter" style="color: #1DA1F2"></i></a></li>
			<li><a href="http://webenlance.com"><i class="fa fa-linkedin" style="color: #0073B0"></i></a></li>
			<li><a href="http://webenlance.com"><i class="fa fa-instagram" style="color: #B71370"></i></a></li>
		</ul>
		<!--social_footer_ul ends here-->
	</div>
</footer>
 <div class="fabs1">
        <div class="chat">
            <div class="chat_header">
                <div class="chat_option">
                    <div class="header_img">
                        <img
                            src="http://res.cloudinary.com/dqvwa7vpe/image/upload/v1496415051/avatar_ma6vug.jpg"/>
                    </div>
                    <span id="chat_head">Jane Doe</span>
                    <br>
                    <span class="agent">Agent</span>
                    <span class="online">(Online)</span>

                </div>

            </div>
            <div class="chat_body chat_login">
                <a id="chat_first_screen" class="fab1">
                    <i class="zmdi zmdi-arrow-right"></i>
                </a>
                <p>We make it simple and seamless for businesses and people to talk to each
                    other. Ask us anything</p>
            </div>
            <div id="chat_converse" class="chat_conversion chat_converse">
                <a id="chat_second_screen" class="fab1">
                    <i class="zmdi zmdi-arrow-right"></i>
                </a>
                <span class="chat_msg_item chat_msg_item_admin">
                    <div class="chat_avatar">
                        <img
                            src="http://res.cloudinary.com/dqvwa7vpe/image/upload/v1496415051/avatar_ma6vug.jpg"/>
                    </div>Hey there! Any question?</span>
                <span class="chat_msg_item chat_msg_item_user">
                    Hello!</span>
                <span class="status">20m ago</span>
                <span class="chat_msg_item chat_msg_item_admin">
                    <div class="chat_avatar">
                        <img
                            src="http://res.cloudinary.com/dqvwa7vpe/image/upload/v1496415051/avatar_ma6vug.jpg"/>
                    </div>Hey! Would you like to talk sales, support, or anyone?</span>
                <span class="chat_msg_item chat_msg_item_user">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
                <span class="status2">Just now. Not seen yet</span>
            </div>
            <div id="chat_body" class="chat_body">
                <div class="chat_category">
                    <a id="chat_third_screen" class="fab1">
                        <i class="zmdi zmdi-arrow-right"></i>
                    </a>
                    <p>What would you like to talk about?</p>
                    <ul>
                        <li>Tech</li>
                        <li class="active">Sales</li>
                        <li >Pricing</li>
                        <li>other</li>
                    </ul>
                </div>

            </div>
            <div id="chat_form" class="chat_converse chat_form">
                <a id="chat_fourth_screen" class="fab1">
                    <i class="zmdi zmdi-arrow-right"></i>
                </a>
                <span class="chat_msg_item chat_msg_item_admin">
                    <div class="chat_avatar">
                        <img
                            src="http://res.cloudinary.com/dqvwa7vpe/image/upload/v1496415051/avatar_ma6vug.jpg"/>
                    </div>Hey there! Any question?</span>
                <span class="chat_msg_item chat_msg_item_user">
                    Hello!</span>
                <span class="status">20m ago</span>
                <span class="chat_msg_item chat_msg_item_admin">
                    <div class="chat_avatar">
                        <img
                            src="http://res.cloudinary.com/dqvwa7vpe/image/upload/v1496415051/avatar_ma6vug.jpg"/>
                    </div>Agent typically replies in a few hours. Don't miss their reply.
                    <div>
                        <br>
                        <form class="get-notified">
                            <label for="chat_log_email">Get notified by email</label>
                            <input id="chat_log_email" placeholder="Enter your email"/>
                            <i class="zmdi zmdi-chevron-right"></i>
                        </form>
                    </div>
                </span>

                <span class="chat_msg_item chat_msg_item_admin">
                    <div class="chat_avatar">
                        <img
                            src="http://res.cloudinary.com/dqvwa7vpe/image/upload/v1496415051/avatar_ma6vug.jpg"/>
                    </div>Send message to agent.
                    <div>
                        <form class="message_form">
                            <input placeholder="Your email"/>
                            <input placeholder="Technical issue"/>
                            <textarea rows="4" placeholder="Your message"></textarea>
                            <button>Send</button>
                        </form>

                    </div>
                </span>
            </div>
            <div id="chat_fullscreen" class="chat_conversion chat_converse">
                <span class="chat_msg_item chat_msg_item_admin">
                    <div class="chat_avatar">
                        <img
                            src="http://res.cloudinary.com/dqvwa7vpe/image/upload/v1496415051/avatar_ma6vug.jpg"/>
                    </div>Hey there! Any question?</span>
                <span class="chat_msg_item chat_msg_item_user">
                    Hello!</span>
                <div class="status">20m ago</div>
                <span class="chat_msg_item chat_msg_item_admin">
                    <div class="chat_avatar">
                        <img
                            src="http://res.cloudinary.com/dqvwa7vpe/image/upload/v1496415051/avatar_ma6vug.jpg"/>
                    </div>Hey! Would you like to talk sales, support, or anyone?</span>
                <span class="chat_msg_item chat_msg_item_user">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
                <span class="chat_msg_item chat_msg_item_admin">
                    <div class="chat_avatar">
                        <img
                            src="http://res.cloudinary.com/dqvwa7vpe/image/upload/v1496415051/avatar_ma6vug.jpg"/>
                    </div>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type
                    specimen book.</span>
                <span class="chat_msg_item chat_msg_item_user">
                    Where can I get some?</span>
                <span class="chat_msg_item chat_msg_item_admin">
                    <div class="chat_avatar">
                        <img
                            src="http://res.cloudinary.com/dqvwa7vpe/image/upload/v1496415051/avatar_ma6vug.jpg"/>
                    </div>The standard chuck...</span>
                <span class="chat_msg_item chat_msg_item_user">
                    There are many variations of passages of Lorem Ipsum available</span>
                <div class="status2">Just now, Not seen yet</div>
                <span class="chat_msg_item ">
                    <ul class="tags">
                        <li>Hats</li>
                        <li>T-Shirts</li>
                        <li>Pants</li>
                    </ul>
                </span>
            </div>
            <div class="fab_field">
                <a id="fab_camera" class="fab1">
                    <i class="zmdi zmdi-camera"></i>
                </a>
                <a id="fab_send" class="fab1">
                    <i class="zmdi zmdi-mail-send"></i>
                </a>
                <textarea
                    id="chatSend"
                    name="chat_message"
                    placeholder="Send a message"
                    class="chat_field1 chat_message1"></textarea>
            </div>
        </div>
        <a id="prime" class="fab1">
            <i class="prime zmdi zmdi-comment-outline"></i>
        </a>
    </div>
{% endblock content %}


{% block javascript %}

{% load staticfiles %}
{% load static %}
<script src="{% static 'js/jquery-2.2.4.min.js' %}"></script>
<!-- Bootstrap JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.e"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
		crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<!-- 3rd party JavaScript -->

<!-- Project JS -->
<script src="{% static 'js/easing.min.js' %}"></script>
<script src="{% static 'js/hoverIntent.js' %}"></script>
<script src="{% static 'js/superfish.min.js' %}"></script>
<script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/jquery.sticky.js' %}"></script>
<script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'js/parallax.min.js' %}"></script>
<script src="{% static 'js/waypoints.min.js' %}"></script>
<script src="{% static 'js/jquery.counterup.min.js' %}"></script>
<script src="{% static 'js/mail-script.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/base.js' %}"></script>
<script src="{% static 'js/chatbox.js' %}"></script>
<!-- <script type="text/javascript" src="{% static 'js/MainPa.js' %}"></script> -->
{% endblock javascript %}

</body>

</html>

