{% extends '_base.html' %}

{% block title %}Delete Method{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <fieldset class="form-group">
        <legend class="border-bottom mb-4"  style="padding: 10px;"> Delete Method</legend>
        <h2>Are you sure you want to delete the method "{{ object.wallet_address }}" </h2>
    </fieldset>
    <div class="form-group">
        <button class="btn btn-outline-danger" type="submit">Yes</button>
        <a class="btn btn-outline-secondary" href="{% url 'payment-method' %}">Cancel</a>
    </div>
</form>
{% endblock content %}